---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <main>
    <section>
      <h2>GALLERY</h2>
      <hr />
      <ul class="gallery">
        <li>
          <img src="https://blog.esrij.com/arcgisblog/wp-content/uploads/2018/10/1-1.png" />
          <p>
            <span>For the world end</span>
            <span>Are you ready for new <a href="https://www.esri.com/en-us/arcgis/products/arcgis-online/overview" target="_blank">space</a>?</span>
          </p>
        </li>
        <li>
          <img src="https://artna.jp/wp-content/uploads/2019/07/art-of-europe06-680x453.jpg" />
          <p>
            <span>New release</span>
            <span>Enjoy his new theme</span>
          </p>
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style lang="scss">
  .gallery {
    display: flex;
    flex-wrap: nowrap;
    height: 21rem;
    gap: 0.5rem;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      flex: 1 0;

      img {
        width: 100%;
      }

      p {
        text-align: center;

        span {
          display: block;
          margin-bottom: 0.5rem;
        }

        .text-muted {
          color: var(--text-muted);
        }
      }
    }
  }
</style>
