---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <header id="first">
    <div class="header-content">
      <div class="inner">
        <h1 class="cursive">Make the world tremendous.</h1>
        <h4></h4>
        <hr />
        <a href="#one" class="btn btn-primary btn-xl page-scroll">Get Started</a>
      </div>
    </div>
    <video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
      <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
  </header>
  <section class="bg-dark" id="one">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
          <h2 class="margin-top-0 text-primary">INTRODUCE</h2>
          <hr class="primary" />
          <p class="text-faded">
            どうも、カジサックです。<br />
            ここでは、私の作品を紹介しています。<br />
            ご興味があれば、ぜひご覧ください。
          </p>
          <!-- intro の詳細を表示する場合 -->
          <!-- <a href="" class="btn btn-default btn-xl page-scroll">Learn More</a> -->
        </div>
      </div>
    </div>
  </section>
  <section id="two">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="margin-top-0 text-primary">HIGHLIGHTS</h2>
          <hr class="primary" />
        </div>
      </div>
    </div>
    <div class="container gallery">
      <div class="row">
        <div class="col-lg-4 col-md-4 text-center">
          <div class="highlights">
            <!-- highlights img = 360px x 240px -->
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1FNqZQ3RetNnZCxRAv4jk4hGn1zo-VZSFCA&usqp=CAU" />
            <h3>
              <a href="https://www.youtube.com/watch?v=zjpc5CTFMW0">梶原雄太の家<br />大公開大合掌大射精<br /></a>
              <p class="text-muted">Make new world Project</p>
            </h3>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="highlights">
              <img src="https://blog.esrij.com/arcgisblog/wp-content/uploads/2018/10/1-1.png" />
              <h3>カジサック</h3>

              <p class="text-muted">吉本</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="highlights">
              <!-- <i class="icon-lg ion-ios-star-outline wow fadeIn" data-wow-delay=".3s"></i> -->
              <img src="https://artna.jp/wp-content/uploads/2019/07/art-of-europe06-680x453.jpg" />
              <h3>New releace</h3>
              <p class="text-muted">Enjoy his new theme</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
