---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <main>
    <section>
      <h2>SHOP</h2>
      <hr />

      <ul class="gallery">
        <li>
          <img src="https://artna.jp/wp-content/uploads/2019/07/art-of-europe06-680x453.jpg" />
          <p id="shop-product-name">Product Name</p>
          <p id="shop-product-price">¥10,000</p>
          <p id="shop-product-desc">Description</p>
        </li>
        <li>
          <img src="https://artna.jp/wp-content/uploads/2019/07/art-of-europe06-680x453.jpg" />
          <p id="shop-product-name">Product Name</p>
          <p id="shop-product-price">¥10,000</p>
          <p id="shop-product-desc">Description</p>
        </li>
        <li>
          <img src="https://artna.jp/wp-content/uploads/2019/07/art-of-europe06-680x453.jpg" />
          <p id="shop-product-name">Product Name</p>
          <p id="shop-product-price">¥10,000</p>
          <p id="shop-product-desc">Description</p>
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style lang="scss">
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
      }

      p {
        margin-top: 0.5rem;
      }
    }
  }
</style>
