---
import '@/styles/global.scss';
import ToggleThemeButton from '@/components/ToggleThemeButton.vue';
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="PANMry Painting, to make the world tremendous." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>PANMry Works: Make the world tremendous</title>
  </head>
  <body>
    <div class="app">
      <header class="app-header">
        <nav>
          <ul>
            <li>
              <a href="/" class="brand">PANMry Works</a>
            </li>
            <li>
              <a href="/#one">intro</a>
            </li>
            <li>
              <a href="/#two">highlights</a>
            </li>
            <li>
              <a href="/gallery">Gallery</a>
            </li>
            <li>
              <a href="/shop">Shop</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/about">About</a>
            </li>
            <li class="toggle-theme-button">
              <ToggleThemeButton client:load />
            </li>
          </ul>
        </nav>
      </header>

      <slot />

      <footer class="app-footer">
        <p><a href="http://www.bootstrapzero.com">Landing Zero by BootstrapZero</a> ©2015 Company</p>
      </footer>
    </div>
  </body>
</html>

<style lang="scss">
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
  }

  .app-header {
    position: relative;
    height: var(--app-header-height);
    background-color: var(--bg-1);

    nav {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      background-color: var(--bg-1);
      height: var(--app-header-height);
      z-index: 1000;

      ul {
        display: flex;

        li {
          display: flex;
          align-items: center;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0 1rem;
            text-transform: uppercase;

            &:hover {
              color: var(--accent);
            }

            &.brand {
              font-size: 1.5rem;
              font-weight: bold;
              color: var(--accent);
              text-transform: none;
            }
          }

          &.toggle-theme-button {
              padding: 1rem 1rem 1rem 1rem;
            }
        }
      }
    }
  }

  .app-footer {
    background-color: var(--bg-1);
    padding: 2rem 0;
    flex-grow: 1;

    p {
      text-align: center;
      color: var(--text);
      font-size: 0.875rem;
    }
  }
</style>
